<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
        <property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
        <property name="hibernate.connection.url">jdbc:oracle:thin:@localhost:1521:xe</property>
        <property name="hibernate.connection.username">student_management</property>
        <property name="hibernate.connection.password">admin</property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <property name="hibernate.connection.charSet">utf8</property>
        <property name="hibernate.connection.characterEncoding">utf8</property>
        <property name="hibernate.connection.useUnicode">true</property>
        <property name="hibernate.connection.defaultNChar">true</property>

        <property name="connection.poolsize">2000</property>
        <property name="hibernate.c3p0.min_size">10</property>
        <property name="hibernate.c3p0.max_size">500</property>

        <mapping class="entity.Student"/>
        <mapping class="entity.Subject"/>
    </session-factory>
</hibernate-configuration>
